.card {
    position: relative;
    color: #fff;
    height: 500px;
    width: 360px;
    transition: 0.3s;
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(27deg, #FFC593 0%, #BC7198 49%, #5A77FF 95%);
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.card:hover {
    transform: translateY(-20px);

    &::after {
        opacity: 1;
    }
}

.bg {
    background-color: rgba(0, 0, 0, 0.279);

    height: 150px;
    width: 360px;
    padding-top: 350px;

    & > div {
        margin-left: 25px;
        margin-bottom: 10px;
    }
}

.title {
    font-size: 20px;
    font-weight: 900;
}

.text {
    font-size: 14px;
}

.line {
    width: 80%;
    background: #ffffff5b;
    height: 1px;
    margin-top: 20px;
}

.link {
    font-size: 12px;
    font-weight: 900;
}