.header {
    display: flex;
    padding: 5px 20px 15px 20px;
}

.header__nav {
    display: flex;
    margin-left: 180px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #000;
    margin-left: 43px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "DM Sans";
    transition: 0.5s;
}

a:hover {
    color: #bbbbbb;
}

.header__logo {
    margin-left: 140px;
}

.header__button {
    padding: 12.5px 23px;
    font-size: 11.5px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    box-shadow: none;
    border: none;
    margin-left: 265px;
    margin-top: 3px;
    transition: 0.5s;
}

.header__button:hover {
    background-color: #bbbbbb;
}